
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>
    <h1>Welcome to our Art Gallery!</h1>

    <% if(user) { %>
        <a href="/users/:userId/">
            <h2>Find your muse!</h2>
            <p>Check out the Community</p>
        </a>
        <% } else { %>
        <a href="/auth/sign-in">Sign In</a>
        <% } %>
    </h2>
</body>
</html>
