html {
    font-size: 10px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0 ;
    background-color: #DEE2E6;
    font-size: 2rem
}

a {
    text-decoration: none;
}

nav {
    background: #E9ECEF;
    padding: 10px;
    margin-bottom: 2rem;
    text-align: center;
}

nav a {
    margin: 2rem;
    padding: 1rem;
    font-size: 2em;
    background-color: #E9ECEF;
    color: #343A40;
}

nav a:hover {
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
    background-color: #E9ECEF;
    color: #333;
}

div {
    background-color: #F8F9FA;
    padding: 1rem;
}

form {
    background-color: #ADB5BD;
}

button {
    margin-top: 1.5rem;
    padding: 3px;
    background-color: #2b2d42;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{ 
    background-color: #8d99ae;
    
}

h1 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

a h2,a p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #212529;
    text-decoration: none;
}

a h2:hover ,a p:hover {
    color: #219ebc;
}

h1, h2, form, p, li a, .footer  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li a {
    color: #023047;
}

li a:hover {
    color: #212529;
}

.footer {
    padding-top: 3rem;
    color: #ADB5BD;
    text-decoration: none;
}
.footer:hover {
    color: #6C757D;
    text-decoration: underline;
}