<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Paintings</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <h1>Checkout what others have created!</h1>
        <ul>
            <% users.forEach(user=> { %>
                <li>
                    <a href="/users/<%= user._id %>">
                        <%= user.username %>
                    </a>
                </li>
                <% }) %>
        </ul>
        <a class="footer" href="/">Back to Home</a>
</body>

</html>