<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= user.username %>'s Paintings
    </title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <h1>
            <%= user.username %>'s Custom Paintings
        </h1>

        <ul>
            <% paintings.forEach(painting => { %>
                <li>
                    <a href="/">
                        <%= painting.name %>
                    </a>
                </li>
                <% }) %>
        </ul>

        <a href="/users">Back to Community</a>
</body>

</html>